<div class="modal fade custom_modal" id="switchingCommunitity">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Choose one community<br> to continue</h5>
        </div>
        <!-- <div class="modal-body">
          <div *ngFor="let communitityList of communities; let i = index" (click)="switchCommunity(communitityList.id)"  class="community_btn_block_modal" style="cursor: pointer;">
            <span [ngClass]="{'active': selectedCommunitity(communitityList.id),'pointer_event_none':selectedCommunitity(communitityList.id)}">
              {{communitityList.communityName}}
            </span>
          </div>
          <div *ngIf="!communities?.length"> No active organisation found.</div>
        </div> -->
      </div>
    </div>
  </div>