  <!-- ==================   main Component Html structure start ======  -->
  <!-- ====  header start ==== -->
  <header class="header_sec">
    <div class="header_logo_sec">
      <a href="#">
        <img class="header_logo" src="assets/images/sangarahi-logo-01.png">
      </a>
    </div>
    <div class="header_block_sec">
      <div class="header_block_left">
        <div class="header_search_block">
          <div class="header_search">
            <input class="input_appearance_none" type="text" placeholder="Search">
            <button type="submit" class="button_appearance_none header_search_btn">
              <img class="search_btn_icon" src="assets/images/search_btn_icon.png" >
            </button>
          </div>
          <!-- ---- search  dropdown block --- -->
          <div class="search_dropDown">
            <div class="searchDrop_ul_block">
              <ul>
                <li>
                  <a href="javascript:void(0)">ABCD</a>
                </li>
                <li>
                  <a href="javascript:void(0)">ABCD</a>
                </li>
                <li>
                  <a href="javascript:void(0)">ABCD</a>
                </li>
                <li>
                  <a href="javascript:void(0)">ABCD</a>
                </li>
                <li>
                  <a href="javascript:void(0)">ABCD</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- ---- search  dropdown block --- -->
        </div>
      </div>
      <div class="header_block_right">
        <div class="header_right_block community_btn_block">
          <button type="submit" class="button_appearance_none switch_comm_btn">Switch Community</button>
        </div>
        <div class="header_right_block bell_btn_block">
          <button type="submit" class="button_appearance_none bell_btn">
            <img class="bell_icon" src="assets/images/header-bell-icon.png">
          </button>
          <div class="bell_icon_number">
            <span>99+</span>
          </div>
        </div>
        <div class="header_right_block avatar_btn_block">
          <button type="submit" class="button_appearance_none user_avater_btn">
            <img class="user_avatar_img" src="assets/images/header-user-avatar.png">
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- ====  header end ==== -->
  <!-- ===== Dashboard Html -- part start ==== -->

  <!-- ====  header start ==== -->
  <header class="header_sec">
    <div class="header_logo_sec">
      <a href="#">
        <img class="header_logo" src="assets/images/sangarahi-logo-01.png">
      </a>
    </div>
    <div class="header_block_sec">
      <div class="header_block_left">
        <div class="header_search_block">
          <div class="header_search">
            <input class="input_appearance_none" type="text" placeholder="Search">
            <button type="submit" class="button_appearance_none header_search_btn">
              <img class="search_btn_icon" src="assets/images/search_btn_icon.png" >
            </button>
          </div>
        </div>
      </div>
      <div class="header_block_right">
        <div class="header_right_block community_btn_block">
          <button type="submit" class="button_appearance_none switch_comm_btn">Switch Community</button>
        </div>
        <div class="header_right_block bell_btn_block">
          <button type="submit" class="button_appearance_none bell_btn">
            <img class="bell_icon" src="assets/images/header-bell-icon.png">
          </button>
          <div class="bell_icon_number">
            <span>99+</span>
          </div>
        </div>
        <div class="header_right_block avatar_btn_block">
          <button type="submit" class="button_appearance_none user_avater_btn">
            <img class="user_avatar_img" src="assets/images/header-user-avatar.png">
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- ====  header end ==== -->
  <!-- ====  Main Body BG start ==== -->
  <div class="main_body_bg">
    <!-- ====   Lift Sidebar section -- start  ==== -->
    <div class="left_sidebar_bg">
      <div class="left_sidebar">
        <ul class="sidebar_ul">
          <li class="normal">

            <div class="sidemenu_block">
              <div class="sidemenu_icon">
                <img class="sidebarIcon_normal" src="assets/images/side_menu_icon_1.png">
                <img class="sidebarIcon_active" src="assets/images/side_menu_icon_1_active.png">
              </div>
              <div class="sidemenu_link_block">
                <ul class="sub_menu_ul">
                  <li>
                    <a href="#">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>

          </li>
          <li class="active">

            <div class="sidemenu_block">
              <div class="sidemenu_icon">
                <img class="sidebarIcon_normal" src="assets/images/side_menu_icon_2.png">
                <img class="sidebarIcon_active" src="assets/images/side_menu_icon_2_active.png">
              </div>
              <div class="sidemenu_link_block">
                <ul class="sub_menu_ul">
                  <li>
                    <a href="#">People</a>
                  </li>
                  <li>
                    <a href="#">Active members</a>
                  </li>
                  <li>
                    <a href="#">Passive members</a>
                  </li>
                </ul>
              </div>
            </div>

          </li>
          <li class="normal">

            <div class="sidemenu_block">
              <div class="sidemenu_icon">
                <img class="sidebarIcon_normal" src="assets/images/side_menu_icon_3.png">
                <img class="sidebarIcon_active" src="assets/images/side_menu_icon_3_active.png">
              </div>
              <div class="sidemenu_link_block">
                <ul class="sub_menu_ul">
                  <li>
                    <a href="#">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>

          </li>
          <li class="normal">

            <div class="sidemenu_block">
              <div class="sidemenu_icon">
                <img class="sidebarIcon_normal" src="assets/images/side_menu_icon_4.png">
                <img class="sidebarIcon_active" src="assets/images/side_menu_icon_4_active.png">
              </div>
              <div class="sidemenu_link_block">
                <ul class="sub_menu_ul">
                  <li>
                    <a href="#">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>

          </li>
          <li class="normal">

            <div class="sidemenu_block">
              <div class="sidemenu_icon">
                <img class="sidebarIcon_normal" src="assets/images/side_menu_icon_5.png">
                <img class="sidebarIcon_active" src="assets/images/side_menu_icon_5_active.png">
              </div>
              <div class="sidemenu_link_block">
                <ul class="sub_menu_ul">
                  <li>
                    <a href="#">Sub Menu 01</a>
                  </li>
                  <li>
                    <a href="#">Sub Menu 01</a>
                  </li>
                  <li>
                    <a href="#">Sub Menu 01</a>
                  </li>
                </ul>
              </div>
            </div>

          </li>
          <li class="normal">

            <div class="sidemenu_block">
              <div class="sidemenu_icon">
                <img class="sidebarIcon_normal" src="assets/images/side_menu_icon_6.png">
                <img class="sidebarIcon_active" src="assets/images/side_menu_icon_6_active.png">
              </div>
              <div class="sidemenu_link_block">
                <ul class="sub_menu_ul">
                  <li>
                    <a href="#">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>

          </li>
          <li class="normal">

            <div class="sidemenu_block">
              <div class="sidemenu_icon">
                <img class="sidebarIcon_normal" src="assets/images/side_menu_icon_7.png">
                <img class="sidebarIcon_active" src="assets/images/side_menu_icon_7_active.png">
              </div>
              <div class="sidemenu_link_block">
                <ul class="sub_menu_ul">
                  <li>
                    <a href="#">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>
    <!-- ====   Lift Sidebar section -- end  ==== -->
    <!-- ====   main right section BG -- start ====  -->
    <div class="main_right_section_bg">
      <div class="content_body_bg">

        <!-- -- Dashboard panel / My Community details bg -- start --  -->
        <div class="dashboard_panel_bg community_details_bg">
          <div class="community_details">

            <div class="block_sec_title_row">
              <h4 class="block_sec_title">My Community details</h4>

            </div>

            <div class="edit_profile_sec">
              <div class="edit_profile_top">
                <div class="edit_profile_top_left">
                  <div class="left_img_block">
                    <div class="profile_edit_img">
                      <img src="assets/images/user-profile-img.jpg">
                    </div>
                    <!--
                    <button class="button_appearance_none profile_edit_btn">
                      <img src="assets/images/profileimage-edit-btn.png">
                    </button>
                    -->

                    <!-- img / upload img -- start -->
                    <div class="profile_img_edit_btn_block">
                      <button class="button_appearance_none profile_edit_btn">
                        <img src="assets/images/profileimage-edit-btn.png">
                      </button>
                      <input class="input_appearance_none input_upload_btn" type="file" />
                    </div>
                    <!-- img / upload img -- end -->

                  </div>
                </div>
                <div class="edit_profile_top_right">
                  <div class="block_sec_title_row">
                    <h4 class="block_sec_title">upload your community <br> profile image</h4>
                    <div class="block_title_btn_div">
                      <button type="submit" class="button_appearance_none block_title_btn pink_btn">View more</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="edit_profile_box">
                <div class="editprofile_form">
                  <form>

                    <div class="form_row">
                      <div class="form_row_field">
                        <span class="form_field_icon">
                          <img class="" src="assets/images/profile-edit-form-icon-01.png">
                        </span>
                        <span class="form_field_input">
                          <input class="input_appearance_none profileEdit_inpput" type="text" placeholder="jhone @gmail.com">
                        </span>
                      </div>
                      <div class="form_field_error_msg">
                        Error Message Show Here
                      </div>
                    </div>

                    <div class="form_row">
                      <div class="form_row_field">
                        <span class="form_field_icon">
                          <img class="" src="assets/images/profile-edit-form-icon-02.png">
                        </span>
                        <span class="form_field_input">
                          <input class="input_appearance_none profileEdit_inpput" type="tel" placeholder="+91 000 000 0000">
                        </span>
                      </div>
                      <div class="form_field_error_msg">
                        Error Message Show Here
                      </div>
                    </div>

                    <div class="form_row">
                      <div class="form_row_field">
                        <span class="form_field_icon">
                          <img class="" src="assets/images/profile-edit-form-icon-03.png">
                        </span>
                        <span class="form_field_input">
                          <textarea class="input_appearance_none profileEdit_inpput profileEdit_textarea" placeholder="Address">5th Floor, Stesalit Tower, E2/3, EP &, GP Block, Sector V, Saltlake, Kolkata, West Bengal 700091</textarea>
                        </span>
                      </div>
                      <div class="form_field_error_msg">
                        Error Message Show Here
                      </div>
                    </div>

                    <div class="form_row form_row_btn_area">
                      <div class="form_row_btn">
                        <button class="button_appearance_none btn_global">Global Settings</button>
                        <button class="button_appearance_none edit_web">Edit Webpage</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
              <div class="edit_profile_bg_img_sec">
                <img class="edit_profile_bg_img" src="assets/images/community-profile-page-bg.png">
              </div>
            </div>

          </div>
        </div>
        <!-- -- Dashboard panel / My Community details bg -- end --  -->

        <!-- -- Dashboard panel bg -- start --  -->
        <!-- -- Dashboard panel bg -- end --  -->
      </div>
      <!-- ----  Footer Section --- Start ------  -->
      <div class="footer_sec">
        <div class="footer_copyRight_sec">
          <p>© SangaRaahi. All rights reserved.</p>
        </div>
      </div>
      <!-- ----  Footer Section --- End ------  -->
    </div>
    <!-- ====   main right section BG -- end ====  -->


  </div>
  <!-- ====  Main Body BG end ==== -->

  <!-- ===== Dashboard Html -- part end ==== -->
  <!-- ==================   main Component Html structure end ======  -->



