/* .edit_webPage_top_tab ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.edit_webPage_top_tab li {
  margin-right: 10px;
}



.edit_webPage_top_tab li.active a {
  color: white;
} */

.tab-content {
  /* padding: 20px; */
}

.edit_webPage_top_tab li a {
 
  cursor: pointer;
 
}