<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
  <title>Sangaraahi Mail Temp</title>
    <style>
      @page {
        margin: 0px 0px;
        padding: 0px 0px;
        border: 0px none !important;
      }
      body {
        margin: 0px 0px;
        padding: 0px 0px;
      }
      p {
        text-align:center;
      }
      .store-icons{
        justify-self: center;
      }
      .as-icon{
        align-self: center;
        justify-self: center;
      }
      .mail_temp_table {
        /* background-color: #d7e8e0; */
        background-color: #eadbeb;
      }
    </style>

</head>
<body style='padding:0; margin: 0; font-family: Arial; font-size: 14px; line-height: 20px;'>
  <table class="mail_temp_table" width='600' border='0' cellspacing='0' cellpadding='0'
   style="border-collapse:collapse; margin: 20px auto 20px;  border-radius: 20px; background-color: #FCA62A;">
      <tr>
          <td style="
          background-image: url(https://developmentmatrix.s3.ap-south-1.amazonaws.com/images%20%285%29.jpeg);
          background-size: cover;
          background-position: center center;
          background-color: #fff;
          position: relative;
          text-align: center;
          padding: 0;
          height: 100px;
          border-radius: 20px 20px 0 0;
          " >
            <a  href="#" target="_blank" style="position: absolute; left: 30px; bottom: -50px;">
              <img src="https://developmentmatrix.s3.ap-south-1.amazonaws.com/images%20%283%29.jpeg" alt="logo" 
              style="width: 100px; height: 100px; border: 2px solid #fff; border-radius: 100%; object-fit: contain; object-position: center center;">
            </a>
          </td>
      </tr>
      <tr>
        <td style="height: 55px; "></td>
      </tr>

<!-- 
      <tr>
        <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
          <b>Mail Template Name :</b> &nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </td>
      </tr>
      <tr>
        <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
          <b>Mail Header :</b> &nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </td>
      </tr>
 -->

      <tr>
        <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
          <b>Mail Title :</b> &nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </td>
      </tr>
      <tr>
        <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: justify;' >
          <b>Event Message / Description :</b> &nbsp; 
          <span style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived 
          not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release 
          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </span>
        </td>
      </tr>
      <tr>
        <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px 5px; text-align: left; border-bottom: 1px solid #000;' >
          <b>Event Details</b> &nbsp; 
        </td>
      </tr>

      <tr>
        <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
          <b>Address Line1 :</b> &nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </td>
      </tr>
      <tr>
        <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
          <b>Address Line1 :</b> &nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </td>
      </tr>

      <tr>
        <td>
          <table>
            <tr>
              <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
                <b>Country :</b> &nbsp; Lorem Ipsum is simply
              </td>
              <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
                <b>State :</b> &nbsp; Lorem Ipsum is simply
              </td>
            </tr>

            <tr>
              <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
                <b>City :</b> &nbsp; Lorem Ipsum is simply
              </td>
              <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
                <b>Zip Code :</b> &nbsp; Lorem Ipsum is simply
              </td>
            </tr>

            <tr>
              <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
                <b>Contact Number :</b> &nbsp; +0123456789
              </td>
              <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 10px 30px; text-align: left;' >
                <b>Email :</b> &nbsp; Lorem Ipsum is simply
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 5px 30px 5px; text-align: left; border-bottom: 1px solid #000;' >
        </td>
      </tr>

      <tr>
        <tr>
          <td align='center' valign='top' style='font-family: Arial; font-size: 14px; line-height: 20px; padding: 20px 10px 15px;  text-align: center;' >
            <b>You can download the app on</b>
          </td>
        </tr>
        <tr>
        <td align="center" style="text-align: center; padding: 0px 0px 30px;">
          <table style="width: 100%;">
            <tr>
              <td style="align-items: right; text-align: right; padding: 20px 15px 20px;">
                <a href="https://apps.apple.com/us/app/the-empathy-set/id1570154720" target="_blank">
                  <img
                    class="store-icon"
                    style="height: 58px !important; "
                    src="https://assets.stickpng.com/images/5a902db97f96951c82922874.png">
                </a>
              </td>
              <td style="align-items: left; text-align: left; padding: 20px 15px 20px;">
                <a href="https://play.google.com/store/apps/details?id=com.johnford.tes" target="_blank">
                  <img
                    class="store-icon"
                    style="height: 58px !important; "
                    src="https://images.squarespace-cdn.com/content/v1/59f7a1887131a53d15f4abf9/b04621bc-c95e-4dd4-a8f4-b097f67666bd/Get+it+on+Google+Play.png?format=750w"/>
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
  </table>
</body>
</html>