<div class="dashboard_panel_bg memberlistpage group_listing_page">

  <!-- page title -- section -- start  -->
  <div class="page_top_title filter-headingArea">
    <h4>Checkin List</h4>

    <!-- <div class="filterArea">

      <a href="javascript:void(0)" class="_filterSearch_iconBtn"  >
        <img src="assets/images/filter-search-icon.png" />
      </a>

      <a href="javascript:void(0)" class="filter" >Filter</a>
      <a class="pinkbtnsmall"  >Checkin</a>
    </div> -->

  </div>
  <div class="top_back_section">
    <a href="javascript:void(0)" [routerLink]="['/dashboard']">Back to dashboard</a>
  </div>
  <!-- page title -- section -- end  -->

    <!-- table area start -->
    <div class="tableBox">
      <div class="table-responsive">
          <table class="table_list" cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Event Name</th>
                  <th>Start Date & Time</th>
                  <th>End Date & Time</th>
                  <th>Invitation Type</th>
                  <th>Host Name</th>
                  <th>Number of Attendees</th>
                  <th *ngIf="getCheckinDetails?.canView">Action Items</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of getCheckInList; let i = index">
                  <td *ngIf="(current*limit)-((limit-1)-i) < 10">
                    {{'CI100'+(current*10-(9-i))}}
                  </td>
                  <td *ngIf="(current*limit)-((limit-1)-i) >= 10">
                    {{'CI10'+(current*10-(9-i))}}
                  </td>
                  <td>
                   {{item.title ? item.title : 'N/A'}}
                  </td>
                  <td>
                    {{item?.date?.from | date: 'dd MMMM y'}}<br>
                    {{item?.date?.from | date: 'hh:mm a':'UTC'}}
                  </td>
                  <td>
                    {{item?.date?.to | date: 'dd MMMM y'}}<br>
                    {{item?.date?.to | date: 'hh:mm a':'UTC'}}
                  </td>
                  <td>
                    {{item?.invitationType ? item?.invitationType : 'N/A'}}
                  </td>
                  <td>
                    {{item.hostId ? item.hostId : 'N/A'}}
                  </td>
                  <td>
                    {{item?.attendees?.numberOfMaxAttendees
                      ? item?.attendees?.numberOfMaxAttendees
                      : 'N/A'}}
                  </td>

                  <td>
                    <div class="active_item_td" *ngIf="getCheckinDetails?.canView">
<!--
                      <button class="button_appearance_none active_item_td_btn td_btn_yellow" >
                        <img src="assets/images/active_item_btn_01.png" />
                      </button>
 -->
                      <button class="button_appearance_none active_item_td_btn td_btn_green" [routerLink]="['/check-in/checkin-payment/'+ item.id]">
                        <img src="assets/images/active_item_btn_02.png" />
                      </button>
<!--
                      <button class="button_appearance_none active_item_td_btn td_btn_pink" >
                        <img src="assets/images/active_item_btn_06.png" />
                      </button>
 -->
                      <!-- <div class="td_toggle" >
                        <div class="toggle_btn">
                          <label class="switch" >
                              <input type="checkbox" id="paycheckbox-1" />
                              <div class="slider round"></div>
                          </label>
                        </div>
                      </div> -->

                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr *ngIf="!getCheckInList?.length">
                  <td colspan="10">No event is scheduled for today!</td>
                </tr>
              </tfoot>
          </table>
      </div>
      <ng-template [ngIf]="totalPageNo && totalPageNo!==0">
        <div class="table_pagination_sec">
          <div class="table_pagi_left pagination_block">
            <span *ngIf="totalData > limit"><app-pagination
            [current]="current" [total]="totalPageNo" (goTo)="onGoTo($event)" (next)="onNext($event)" (previous)="onPrevious($event)"
            ></app-pagination></span>
          </div>
          <div class="table_pagi_right">
            <p>Showing {{from}} - {{to}} of {{totalData}}</p>
          </div>
        </div>
      </ng-template>
      <!-- ---  table bottom Pagination section -- end --  -->
  </div>
  <!-- table area end -->
</div>
