


      <div class="modal-header">
        <h5 class="modal-title">Announcement Details</h5>
      </div>

      <div class="modal-body">
        <div class="modal_body_blockBg">
          <div class="modalBody_row">
            <p>
              <strong>Name : &nbsp; </strong> {{eventData?.title}}
            </p>
          </div>
          <div class="modalBody_row">
            <p>
              <strong>Type : &nbsp; </strong> {{eventData?.toWhom}}
            </p>
          </div>
          <div class="modalBody_row">
            <p>
              <strong>Description : &nbsp; </strong> {{eventData?.description}}
            </p>
          </div>
          
          <!-- <div class="modalBody_row">
            <p>
              <strong>Comunity Description : &nbsp; </strong> {{groupData?.myCommunity?.communityDescription}}
            </p>
          </div> -->
        </div>
      </div>


